nav{
  padding:5px
}
nav a{
  color:black;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}

/* Challenge 7: Make the font for all elements Arial */
*{
  font-family: Arial;
}
/* Challenge 8: Remove the underline for all hyperlinks */
*{
  text-decoration: none;
}
/* Challenge 9: Change the bottom border of the hyperlinks in the <nav> element to 2px solid black when the visitor hovers over it */
nav a:hover{
  border-bottom: 2px solid black
}
/* Challenge 10: Change the background color to blue and the text to white for elements with an class of "banner" */
.banner{
  background-color: red;
  color:white;
  text-align:center;
}
/* Challenge 11: Make the font size bigger and the color of the text to blue for elements with a class of "main" */
.paragraph{
  border-radius: 2px;
  color:black;
  font-size: 20px;
  text-align: center;
  font-family: Arial;
}

.paragraph:hover{
  background-color: red;
  font-size: 24px;
  color: white;
}

.container{
  text-align: center;
  display: flex;
}

.container div{
  flex:1;
}

#main img{
  max-width: 600px;
  width: 480px;
}
